@import "breakpoints.scss";

$headings: #00516d;
$footerclr: #73a8c8d2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.mobile {
  top: 0;
  left: 0;
  padding: 0 50px 0 30px;
  width: 100%;
  box-sizing: border-box;

  &__logo {
    width: 180px;
    height: 68px;
    padding: 5px;
    float: left;
  }

  @include media(">=menu") {
    & {
      display: none;
    }
  }

  &__buy {
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 4px;
    background: $headings;

    &:active {
      color: $headings;
      background: whitesmoke;
    }

    &:hover {
      color: $headings;
      background: whitesmoke;
    }

    @include media(">=phone", "<=menu") {
      & {
        display: block;
      }
    }
    @include media(">=menu") {
      & {
        display: none;
      }
    }
  }

  &__mob {
    float: right;
    position: absolute;
    width: 100%;
    height: calc(55vh - 50px);
    background: #051724;
    transition: 0.5s;
    left: -100%;
    top: 68px;
    text-decoration: none;

    & ul {
      padding-top: 10px;
      display: block;
      text-align: center;
    }

    & ul li a {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      color: #fff;
    }

    &.active {
      left: 0;
    }

    /*   @include media('>=menu'){
      &{
        display: none;
      }  
    }
*/
    @include media(">=phone", "<=menu") {
      & {
        display: block;
      }
    }
  }

  &__menutoggle {
    font-size: 27px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    float: right;
    color: $headings;

    @include media(">=phone", "<=menu") {
      & {
        display: block;
      }
    }
  }

  &__bars {
    color: black;
  }
}

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

  @include media("<=menu") {
    & {
      display: none;
    }
  }

  &__logo {
    width: 180px;
    height: 68px;
    padding: 5px;
  }

  &__navstop {
    list-style: none;

    & a:link {
      color: $headings;
    }
    & a:hover {
      color: $headings;
    }

    & a:visited {
      color: $headings;
    }

    & a:active {
      color: $headings;
    }
  }

  nav {
    @include media(">=phone", "<=menu") {
      & {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 0 35px;
    color: $headings;
    letter-spacing: 1px;
    font-size: 17px;
  }

  &__buy {
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 4px;
    background: $headings;

    @include media(">=phone", "<=menu") {
      & {
        display: none;
      }
    }
  }
}

.secondnav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  &__scndnav {
    list-style: none;
  }
  &__link {
    display: inline-block;
    padding: 0 11px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
  &__arrow {
    justify-content: center;
    align-items: center;
  }
  & img {
    height: 11px;
    width: 17px;
  }
  &__ctrl {
    font-weight: 100;
    color: #848484;
  }
  @include media(">=phone", "<=menu") {
    & {
      padding-top: 30px;
      width: 100%;
    }
  }
  @include media("<436px") {
    & {
      display: none;
    }
  }
}

.control {
  width: 100%;
  display: flex;
  font-size: 33px;
  color: $headings;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding: 19px 0px;
  text-transform: uppercase;
  font-weight: 900;

  @include media(">=phone", "<tablet") {
    & {
      padding-top: 45px;
      font-size: 20px;
    }
  }
}

.fullpicture {
  width: 100%;
  padding: 18px 0;

  @include media(">=phone", "<tablet") {
    & {
      display: none;
    }
  }
}

.rnd {
  max-width: 1220px;
  text-align: center;
  padding: 40px 0px 65px 0;
  color: #292b2b;
  line-height: 1.49;
  font-size: 19px;
  margin: auto;
  font-weight: 500;

  @include media(">=phone", "<tablet") {
    & {
      margin: auto 30px;
      max-width: 100%;
      padding-bottom: 22px;
    }
  }

  @include media(">=wide") {
    & {
      max-width: 1600px;
    }
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;

  @include media(">=phone", "<tablet") {
    & {
      padding-top: 30px;
    }
  }

  @include media(">=wide") {
    & {
      max-width: 1400px;
    }
  }

  &__centerpics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__firstrow {
    padding-bottom: 60px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;

    @include media(">=phone", "<tablet") {
      & {
        flex-wrap: wrap-reverse;
        padding-bottom: 10px;
      }
    }
    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }
  &__first_right {
    width: calc(50% - 35px);
    padding-bottom: 60px;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        padding-bottom: 50px;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }
  &__lorem {
    text-align: left;
    line-height: 1.5;
    padding-top: 15px;
    font-weight: 500;

    @include media(">=phone", "<tablet") {
      & {
        margin: 0 8px;
        text-align: justify;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 19px;
      }
    }
  }

  & h3 {
    color: $headings;
    font-weight: 700;

    @include media(">=phone", "<tablet") {
      & {
        padding-top: 30px;
        margin: 0 8px;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 24px;
      }
    }
  }

  &__firstpic {
    width: calc(50% - 35px);

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__secondrow {
    padding-bottom: 60px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;

    @include media(">=phone", "<tablet") {
      & {
        flex-wrap: wrap;
        padding-bottom: 0px;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__second_left {
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        padding: 25px 0 5px 0;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__secondpic {
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        padding-bottom: 5px;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__loremsecond {
    text-align: left;
    line-height: 1.5;
    padding-top: 30px;
    font-weight: 500;

    @include media(">=phone", "<tablet") {
      & {
        margin: 0 8px;
        text-align: justify;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 19px;
      }
    }
  }

  &__thirdrow {
    padding-bottom: 60px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;

    @include media(">=phone", "<tablet") {
      & {
        flex-wrap: wrap-reverse;
        padding-bottom: 0px;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__thirdpic {
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        padding: 25px 0 25px 0;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__third_right {
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        padding: 15px 0 25px 0;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__loremthird {
    text-align: left;
    line-height: 1.5;
    padding-top: 30px;
    font-weight: 400;

    @include media(">=phone", "<tablet") {
      & {
        margin: 0 8px;
        text-align: justify;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 19px;
      }
    }
  }
}

.lower {
  background-color: #062a36;

  &__lowercenter {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 120px 0 300px 0;

    @include media(">=phone", "<tablet") {
      & {
        padding-bottom: 75px;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__lowerpics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__heating {
    width: 100%;
    padding-bottom: 40px;
  }

  &__heating h3 {
    color: #fff;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;

    @include media(">=phone", "<tablet") {
      & {
        margin: 0 8px;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 26px;
      }
    }
  }

  &__leftside {
    width: 50%;
    margin-top: 8px;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }

  &__fourth {
    width: 100%;

    @include media(">=phone", "<tablet") {
      & {
        padding-bottom: 35px;
      }
    }
  }

  &__lowerlorem {
    color: #fff;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 53px;

    @include media(">=phone", "<tablet") {
      & {
        margin: 0 8px;
      }
    }

    @include media(">=wide") {
      & {
        font-size: 19px;
      }
    }
  }

  &__rightside {
    width: 50%;
    flex-direction: column;

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        flex-wrap: wrap;
      }
    }

    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__right {
    background-color: #fff;
    color: #000;
    padding: 26px 65px 32px 50px;
    margin: 17px 30px;

    @include media(">=phone", "<tablet") {
      & {
        padding: 26px 19px 32px 19px;
        margin: 17px 30px;
      }
    }
    @include media(">=wide") {
      & {
        padding-top: 23px;
      }
    }

    & h4 {
      padding-bottom: 9px;
      color: $headings;
      font-weight: 700;
      text-align: left;
      padding-left: 10px;

      @include media(">=wide") {
        & {
          font-size: 21px;
        }
      }
    }

    & p {
      margin-bottom: 5px;
      text-align: justify;
      line-height: 1.56;
      font-weight: 500;

      @include media(">=wide") {
        & {
          font-size: 18px;
        }
      }
    }
  }

  &__readmore {
    text-decoration: underline;
    font-size: 14px;
    padding-top: 35px;
    font-weight: 400;

    & a:link {
      color: #0b5d79;
      font-weight: 400;
    }

    & a:hover {
      color: #0b5d79;
    }

    @include media(">=wide") {
      & {
        font-size: 15px;
      }
    }
  }

  &__sound {
    width: 56px;
    height: 50px;
    float: left;
    padding-right: 5px;
    @include media(">=wide") {
      & {
        margin-top: 10px;
      }
    }
  }

  &__htng {
    width: 58px;
    height: 50px;
    float: left;
    padding-right: 4px;
    @include media(">=wide") {
      & {
        margin-top: 10px;
      }
    }
  }

  &__license {
    width: 55px;
    height: 50px;
    float: left;
    padding-right: 5px;
    @include media(">=wide") {
      & {
        margin-top: 10px;
      }
    }
  }
}

.heading {
  width: 100%;
  display: flex;
  font-size: 35px;
  color: $headings;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  text-transform: uppercase;
  font-weight: 900;

  @include media(">=phone", "<tablet") {
    & {
      padding-top: 55px;
    }
  }
}

.glry {
  max-width: 1100px;
  display: flex;
  padding: 120px 0 180px 0;
  margin: 0 auto;

  @include media(">=wide") {
    & {
      max-width: 1400px;
    }
  }

  &__lower-algn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    @include media(">=wide") {
      & {
        max-width: 1400px;
      }
    }
  }

  &__pctrs {
    width: 210px;
    height: 210px;

    @include media(">=wide") {
      & {
        width: 260px;
        height: 235px;
      }
    }

    @include media(">=phone", "<tablet") {
      & {
        width: 100%;
        height: 300px;
        margin: 42px 23px;
        overflow: hidden;
        padding: 0 43px;
      }
    }
  }
}

.lownav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 30px 35px 30px;
  background-color: #062a36;

  @include media(">=phone", "<tablet") {
    & {
      display: none;
    }
  }

  @include media("<phone") {
    & {
      display: none;
    }
  }

  &__lowernav {
    list-style: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
  }

  &__lowernav li {
    display: inline-block;
    padding: 0 35px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;

    & a {
      text-decoration: none;

      &:visited {
        color: #fff;
        text-decoration: none;
      }

      &:link {
        color: #fff;
        text-decoration: none;
      }

      &:visited {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 30px 15px 30px;
  background-color: #062a36;

  & i {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    padding: 8px 8px;
    border-radius: 50%;
    background: #253e46;

    &:active {
      color: $headings;
      background-color: #fff;
    }

    &:hover {
      color: $headings;
      background-color: #fff;
    }
  }
  &__btns {
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    list-style: none;

    @include media(">=phone", "<tablet") {
      & {
        padding: 0 0;
      }
    }
  }
  &__fb i {
    padding: 9px 8px 9px 9px;
  }

  &__tw i {
    padding: 8px 8px 8px 10px;
  }

  &__ig i {
    padding: 9px 9px 9px 11px;
  }

  &__btns li {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
  }
}

.rights {
  width: 100%;
  background-color: #05475d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  color: $footerclr;
  font-weight: 500;

  & a {
    color: $footerclr;
    padding-left: 3px;
  }
}

.policy a:link {
  color: $footerclr;
  text-decoration: underline;
}

.policy a:hover {
  color: $footerclr;
  text-decoration: underline;
}
