*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      background: #fff;
      height: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600; 
      font-size: 16px;
  }

a{
    text-decoration: none;
}

header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo{
    width: 172px;
    height: 68px;
    padding: 5px;
}

.navstop{
    list-style: none;
}

.navstop li{
    display: inline-block;
    padding: 0 35px;
    color: #00516d;
    letter-spacing: 1px;
    font-size: 17px;
}

.navstop li a:visited{
    color: #00516d;
}

.buy{
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 4px; 
    background: #00516d
}

.secondnav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scndnav{
    list-style: none;
}

.scndnav li{
    display: inline-block;
    padding: 0 15px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.control{
    width: 100%;
    display: flex;
    font-size: 33px;
    color: #00516d;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    padding: 19px 0px;
    text-transform: uppercase;
    font-weight: 900;
}

li .ctrl {
    font-weight: 100;
    color: #848484;
}

.fullpicture{
    width: 100%;
    padding: 18px 0;
}

.rnd{
    max-width: 65%;
    text-align: center;
    padding: 40px 0px 65px 0;
    color: #292b2b;
    line-height: 1.49;
    font-size: 19px;
    margin: auto;
    font-weight: 500;
}

.container{
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}

.centerpics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;  
}

h3{
    color: #00516d;
    font-weight: 700;
}
.firstrow{
    width: calc(50% - 115px);
    padding: 0 0 60px 0;
}

.firstpic{
    width: calc(50% - 35px);
    padding: 0 0 60px 0;
}

.firstrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}

.secondrow{
    width: calc(50% - 115px);
    padding: 60px 0 60px 0;
}

.secondpic{
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;
}

.secondrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}

.thirdrow{
    width: calc(50% - 115px);
    padding: 60px 0 60px 0;
}

.thirdpic{
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;
}

.thirdrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}