*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      background: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600; 
      font-size: 16px;
  }

a{
    text-decoration: none;
}

header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo{
    width: 180px;
    height: 68px;
    padding: 5px;
}

.navstop{
    list-style: none;
}

.navstop li{
    display: inline-block;
    padding: 0 35px;
    color: #00516d;
    letter-spacing: 1px;
    font-size: 17px;
}

.navstop li a:visited{
    color: #00516d;
}

.buy{
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 4px; 
    background: #00516d
}

.secondnav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scndnav{
    list-style: none;
}

.scndnav li{
    display: inline-block;
    padding: 0 11px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.control{
    width: 100%;
    display: flex;
    font-size: 33px;
    color: #00516d;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    padding: 19px 0px;
    text-transform: uppercase;
    font-weight: 900;
}

.ctrl p {
    font-weight: 100;
    color: #848484;
}

.arrow{
    justify-content: center;
    align-items: center;
}

.scndnav img{
    height: 11px;
    width: 17px;
}

.fullpicture{
    width: 100%;
    padding: 18px 0;
}

.rnd{
    max-width: 65%;
    text-align: center;
    padding: 40px 0px 65px 0;
    color: #292b2b;
    line-height: 1.49;
    font-size: 19px;
    margin: auto;
    font-weight: 500;
}

.container{
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}

.centerpics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;  
}

h3{
    color: #00516d;
    font-weight: 700;
}
.firstrow{
    width: calc(50% - 115px);
    padding: 0 0 60px 0;
}

.firstpic{
    width: calc(50% - 35px);
    padding: 0 0 60px 0;
}

.firstrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}

.secondrow{
    width: calc(50% - 115px);
    padding: 60px 0 60px 0;
}

.secondpic{
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;
}

.secondrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}

.thirdrow{
    width: calc(50% - 115px);
    padding: 60px 0 60px 0;
}

.thirdpic{
    width: calc(50% - 35px);
    padding: 60px 0 60px 0;
}

.thirdrow p{
    text-align: left;
    line-height: 1.39;
    padding-top: 15px;
    font-weight: 400;
}

.lower{
    background-color: #062a36;
}

.lowercenter{
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    padding: 120px 0 300px 0;
}

.lowerpics{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;  
}

.heating{
    width: 100%;
    padding-bottom: 40px;
}

.heating h3{
    color: #fff;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
}

.leftside{
    width: 50%;
    margin-top: 8px;
}

.leftside img{
    width: 100%;
}

.leftside p{
    color:#fff;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 53px;
}

.rightside{
    width: 50%;
    flex-direction: column;
}

.right{
    background-color: #fff;
    color: #000;
    padding: 26px 65px 32px 50px;
    margin: 17px 30px;
}

.right h4{
    padding-bottom: 9px;
    color: #00516d;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
}

.right p{
    margin-bottom: 5px;
    text-align: justify;
    line-height: 1.56;
    font-weight: 500;
}
.readmore{
    text-decoration: underline;
    font-size: 14px;
    padding-top: 35px;
    font-weight: 400;
}

.readmore a:link{
    color: #0b5d79;
    font-weight: 400;
}

.readmore a:hover{
    color: #0b5d79;
}

.sound {
    width: 56px;
    height: 50px;
    float: left;
    padding-right: 5px;
}

.htng{
    width: 58px;
    height: 50px;
    float: left;
    padding-right: 4px;
}

.license{
    width: 55px;
    height: 50px;
    float: left;
    padding-right: 5px;
}

.heading{
    width: 100%;
    display: flex;
    font-size: 35px;
    color: #00516d;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    padding: 85px 0 0 0;
    text-transform: uppercase;
    font-weight: 900;
    
}

.lower-wid{
    max-width: 65%;
    display: flex;
    padding: 120px 0 180px 0;
    margin: 0 auto;
}

.lower-algn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
}

.pctrs{
    width: 210px;
    height: 210px;
}

.lownav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 30px 35px 30px;
    background-color: #062a36;
}

.lowernav{
    list-style: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.lowernav li{
    display: inline-block;
    padding: 0 35px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
}

.lowernav li a:visited{
    color: #fff;
    text-decoration: none;
}

.lowernav li a{
    text-decoration: none;
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 30px 15px 30px;
    background-color: #062a36;
}

.btns{
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    list-style: none;   
}

.btns li{
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

i{
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    padding: 8px 8px;
    border-radius: 50%;
    background: #253e46;
}

.fb i{
    padding: 8px 14px;
}

.tw i{
    padding: 8px 8px 8px 10px;
}

.ig i{
    padding: 9px 9px 9px 11px;
}

footer{
    width: 100%;
    background-color: #05475d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    color: #5e6f75;
    font-weight: 500;
}

footer a{
    color: #5e6f75;
    padding-left: 3px;
}

.policy a:link{
    color: #5e6f75;
    text-decoration: underline;
}

